<%- include("partials/header") -%>

    <div class="about-container w3-center">
        <img class="w3-image w3-round about-image" src="images/logos/alt-logo.png" alt="logo">
        <h1>We <span class="w3-text-yellow">design</span>, <span class="w3-text-yellow">build</span> and do <span
                class="w3-text-yellow">general maintenance</span> for <span class="underline">commercial</span> and
            <span class="underline">residential</span> buildings.
        </h1>
        <p class="mission-text">Our mission is to extend our services, to operate on a global scale. We strive to meet
            the ever changing
            needs of our consumers by upskilling and receiving constant training in our field of expertise. We ensure
            that the interests of our clients are taken into careful consideration throughout the planning process; in
            order to best serve their needs.</p>

        <div class="w3-padding-48">
            <h3 class="underline">ABOUT US</h3>

            <p class="mission-text">CAF Architecture has been in business for a number of years, perfecting our craft
                for well over a decade. Our
                relentless drive to satisfy our customers, has yielded a high number of clients. As well as, high
                customer
                retention due to the constant exceeding of expectations. We are situated in the Greater Accra region of
                Ghana. However, we render services across the entire city as well as neighbouring cities. We remain
                committed to improving the construction sector in Ghana and endeavour to work closely with other
                businesses
                in doing so.</p>
        </div>

        <div class="w3-center w3-padding-16">
            <a href="mailto:cafarchitectureinc@gmail.com"><i 
                class="fas fa-at w3-large w3-hover-text-grey"></i></a>
            &nbsp;
            &nbsp;
            <span><a href="https://www.instagram.com/cafarchitecture"><i
                        class="fab fa-instagram w3-large w3-hover-text-grey"></i></a></span>
            &nbsp;
            &nbsp;
            <span><a href="https://web.facebook.com/cafarchitecture"><i 
                class="fab fa-facebook w3-large w3-hover-text-grey"></i></a></span>
            &nbsp;
            &nbsp;
            <a href="https://twitter.com/cafarchitecture"><i 
                class="fab fa-twitter w3-large w3-hover-text-grey"></i></a>
            <br><br>
            <!-- <span>Subscribe To Our Newsletter</span>&nbsp;
        <button class="w3-button w3-round-large w3-yellow" disabled>Subscribe</button> -->

        </div>
    </div>

    <%- include("partials/footer") -%>