<%- include("partials/header") -%>

    <div class="desc-container">
        <div class="w3-row">
            <div class="w3-col l10 w3-padding-medium">
                <div class="banner ceiling-page-banner-image  w3-card w3-round">
                    <div class="banner-text w3-round">
                        <h1 class="w3-margin-0">CEILING</h1>
                        <p class="w3-margin-0">Our ceiling work is next to none.</p>
                    </div>
                </div>
            </div>
            <div class="w3-col l2 w3-padding-medium">
                <div class="vertical-menu">
                    <a href="#pop">P.O.P Ceiling</a>
                    <a href="#plasterboard">Plasterboard Ceiling</a>
                    <a href="#acoustic">Acoustic Ceiling</a>
                    <!-- <a href="#">Metal Ceiling</a> -->
                </div>
            </div>
        </div>
        <div id="pop"></div>
        <div class="w3-row">
            <div class="w3-padding-medium">
                <h3><i class="fas fa-hard-hat"></i> P.O.P Ceiling</h3>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/pop ceiling/pop-ceiling-1.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/pop ceiling/pop-ceiling-2.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/pop ceiling/pop-ceiling-3.jpg" alt="Ceiling Image">
                </div>
            </div>
        </div>
        <div id="plasterboard"></div>
        <div class="w3-row">
            <div class="w3-padding-medium">
                <h3><i class="fas fa-hard-hat"></i> Plasterboard Ceiling</h3>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/plasterboard ceiling/plasterboard-ceiling-1.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/plasterboard ceiling/plasterboard-ceiling-2.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/plasterboard ceiling/plasterboard-ceiling-3.jpg" alt="Ceiling Image">
                </div>
            </div>
        </div>

        <div id="acoustic"></div>
        <div class="w3-row">
            <div class="w3-padding-medium">
                <h3><i class="fas fa-hard-hat"></i> Acoustic Ceiling</h3>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/acoustic ceiling/acoustic-ceiling-1.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/acoustic ceiling/acoustic-ceiling-2.jpg" alt="Ceiling Image">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/acoustic ceiling/acoustic-ceiling-3.jpg" alt="Ceiling Image">
                </div>
            </div>
        </div>
    
       
    </div>



    <%- include("partials/footer") -%>