<%- include("partials/header") -%>

    <div class="desc-container">
        <div class="banner construction-page-banner-image w3-card w3-round">
            <div class="banner-text w3-round">
                <h1 class="w3-margin-0">Building Construction</h1>
                <p class="w3-margin-0">Building with precision at every step is our way. No cutting conners</p>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-padding-medium">
                <h3><i class="fas fa-hard-hat"></i> Pyramid House </h3>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/before-1.jpg">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/before-2.jpg">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/before-3.jpg">
                </div>
            </div>
        </div>
        <div class="w3-row">
            <!-- <div class="w3-padding-medium">
                <h3><i class="fas fa-hard-hat"></i> After</h3>
            </div> -->
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/after-1.jpg">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/after-2.jpg">
                </div>
            </div>
            <div class="w3-col l4 w3-padding-medium">
                <div class="w3-card w3-light-grey w3-round-large zoom">
                    <img class="w3-image w3-round-large" src="/images/construction/after-3.jpg">
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>