<%- include("partials/header") -%>

    <!-- Auto Carousel -->
    <div class="carousel-container">
        <div class="mySlides mySlideBackgroundImage01 fade">
            <div class="myCaptionBox">
                <span class="mini-title w3-wide">CAF ARCHITECTURE</span>
                <h1 class="title">A Design & Build Company</h1>
                <a href="/about">
                    <button class="w3-button w3-yellow w3-round w3-hover-white zoom">Learn more <i
                            class="fas fa-long-arrow-alt-right w3-tiny "></i></button>
                </a>
            </div>
        </div>
        <div class="mySlides mySlideBackgroundImage02 fade">
            <div class="myCaptionBox">
                <span class="mini-title w3-wide">CAF ARCHITECTURE</span>
                <h1 class="title">We Strive To Give You Quality for Your Money</h1>
                <a href="/about">
                    <button class="w3-button w3-yellow w3-round w3-hover-white zoom">Learn more <i
                            class="fas fa-long-arrow-alt-right w3-tiny "></i></button>
                </a>
            </div>
        </div>
        <div class="mySlides mySlideBackgroundImage03 fade">
            <div class="myCaptionBox">
                <span class="mini-title w3-wide">AFFORDABILITY & SERVICE</span>
                <h1 class="title">We Provide High Quality Affordable Services</h1>
                <a href="/about">
                    <button class="w3-button w3-yellow w3-round w3-hover-white zoom">Learn more <i
                            class="fas fa-long-arrow-alt-right w3-tiny "></i></button>
                </a>
            </div>
        </div>
        <div class="dots-container">
            <span class="dot zoom"></span>
            <span class="dot zoom"></span>
            <span class="dot zoom"></span>
        </div>
    </div>
    <!-- Auto Carousel -->
    <!-- What We Do -->
    <!-- Wallpaper -->
    <div id="whatwedo"></div>
    <div class="wallpaper">
        <div class="section-container w3-black">
            <div class="w3-black w3-center section-heading w3-padding-10">
                <h1 class="w3-text-white w3-margin-0">WHAT WE DO</h1>
                <h6 class="section-mini-heading w3-text-grey w3-margin-0">AT CAF ARCHITECTURE</h6>
            </div>
            <div class="w3-row">
                <div class="w3-col l3 m6 w3-padding-small">
                    <a href="/construction" class="what-we-do-card-link">
                        <div class="w3-card-4 w3-black w3-round-large zoom w3-border w3-border-grey">
                            <img class="w3-image w3-round-large" src="images/construction/secu-two.jpg"
                                alt="Ceiling Image">
                            <div class="w3-padding-medium">
                                <h6 class="w3-text-yellow w3-margin-0 w3-center">
                                    <i class="fas fa-hard-hat w3-text-yellow w3-large"></i>&nbsp; CONSTRUCTION
                                    <span class="w3-right"><i class="fas fa-clipboard-check w3-text-yellow"></i></span>
                                </h6>
                                <p class="w3-margin-0 w3-text-grey w3-center">Visit Page <i
                                        class="fas fa-long-arrow-alt-right long-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w3-col l3 m6 w3-padding-small">
                    <a href="/ceiling" class="what-we-do-card-link">
                        <div class="w3-card-4 w3-black w3-round-large zoom w3-border w3-border-grey">
                            <img class="w3-image w3-round-large" src="images/pop ceiling/pop-ceiling-4.jpg"
                                alt="Ceiling Image">
                            <div class="w3-padding-medium">
                                <h6 class="w3-text-yellow w3-margin-0 w3-center">
                                    <i class="fas fa-hard-hat w3-text-yellow w3-large"></i>&nbsp; CEILING
                                    <span class="w3-right"><i class="fas fa-clipboard-check w3-text-yellow"></i></span>
                                </h6>
                                <p class="w3-margin-0 w3-text-grey w3-center">Visit Page <i
                                        class="fas fa-long-arrow-alt-right long-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w3-col l3 m6 w3-padding-small">
                    <a href="/flooring" class="what-we-do-card-link">
                        <div class="w3-card-4 w3-black w3-round-large zoom w3-border w3-border-grey">
                            <img class="w3-image w3-round-large" src="images/floor.jpg" alt="Ceiling Image">
                            <div class="w3-padding-medium">
                                <h6 class="w3-text-yellow w3-margin-0 w3-center"><i
                                        class="fas fa-hard-hat w3-text-yellow w3-large"></i>&nbsp; FLOORING
                                    <span class="w3-right"><i class="fas fa-clipboard-check w3-text-yellow"></i></span>
                                </h6>
                                <p class="w3-margin-0 w3-text-grey w3-center">Visit Page <i
                                        class="fas fa-long-arrow-alt-right long-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w3-col l3 m6 w3-padding-small">
                    <a href="/wall-decor" class="what-we-do-card-link">
                        <div class="w3-card-4 w3-black w3-round-large zoom w3-border w3-border-grey">
                            <img class="w3-image w3-round-large" src="images/wall.jpeg" alt="Ceiling Image">
                            <div class="w3-padding-medium">
                                <h6 class="w3-text-yellow w3-margin-0 w3-center"><i
                                        class="fas fa-hard-hat w3-text-yellow w3-large"></i>&nbsp; WALL DECOR
                                    <span class="w3-right"><i class="fas fa-clipboard-check w3-text-yellow"></i></span>
                                </h6>
                                <p class="w3-margin-0 w3-text-grey w3-center">Visit Page <i
                                        class="fas fa-long-arrow-alt-right long-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- What We Do -->

    <!-- Others -->
    <div class="wallpaper02">
        <div class="section-container w3-white">
            <div class="w3-row">
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-drafting-compass w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">AR. DRAWING</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/drawing.jpg" alt="Architectural Drawing">
                        <div class="w3-padding-medium">
                            <a href="/architectural-drawing"><button id="drawing"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom">
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-door-closed w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">DOORS</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/door.jpg" alt="Architectural Drawing">
                        <div class="w3-padding-medium">
                            <a href="javascript:void(0)"><button id="hammer"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom" disabled>
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-toolbox w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">CABINETS</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/cabinets.jpg" alt="Cabinets">
                        <div class="w3-padding-medium">
                            <a href="javascript:void(0)"><button id="hammer"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom" disabled>
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-toolbox w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">PERGOLA</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/pergola.jpg" alt="Pergola">
                        <div class="w3-padding-medium">
                            <a href="javascript:void(0)"><button id="hammer"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom" disabled>
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-toolbox w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">GLAZING</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/glazing.jpg" alt="Glazing">
                        <div class="w3-padding-medium">
                            <a href="javascript:void(0)"><button id="glazing"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom" disabled>
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
                <div class="w3-col l2 m6 s6 w3-padding-small">
                    <div class="w3-card-4 other-cards w3-black w3-round-large zoom">
                        <div class="w3-padding-medium w3-center">
                            <i class="fas fa-paint-roller w3-large w3-text-yellow"></i>
                            &nbsp;
                            <span class="w3-text-yellow heading">PAINTING</span><br>
                        </div>
                        <img class="w3-image w3-round" src="images/others/painting.jpg" alt="Painting">
                        <div class="w3-padding-medium">
                            <a href="javascript:void(0)"><button id="painting"
                                    class="w3-button w3-block w3-yellow w3-round-large w3-hover-yellow zoom" disabled>
                                    <span class="w3-hide-small">VIEW</span> PAGE
                                    <i class="fas fa-long-arrow-alt-right w3-text-black"></i>
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="clients"></div>
    </div>
    <!-- Others -->

    <!-- Clients -->
    <div class="section-container w3-light-grey">
        <div class="w3-white w3-padding-xlarge w3-card w3-card w3-round-xlarge">
            <div class="w3-white w3-center section-heading w3-padding-10">
                <h1 class="w3-text-black w3-margin-0">CLIENTS THAT HAVE TRUSTED US</h1>
            </div>
            <div class="w3-row w3-center">
                <div class="w3-col l3 m6 s6 w3-padding-medium">
                    <img class="w3-image" src="images/clients/installation-specialist.jpg"
                        alt="installation-specialist Logo">
                </div>
                <div class="w3-col l3 m6 s6 w3-padding-medium">
                    <img class="w3-image" src="images/clients/sub box-logo.jpg" alt="Sub box Logo">
                </div>
                <div class="w3-col l3 m6 s6 w3-padding-large">
                    <img class="w3-image" src="images/clients/Jins logo.jpg" alt="Jins GH LTD Logo">
                </div>
                <div class="w3-col l3 m6 s6 w3-padding-medium">
                    <img class="w3-image mokas-margin-top" src="images/clients/mokas.PNG" alt="Mokas Logo">
                </div>

            </div>
        </div>
    </div>
    <!-- Clients -->
    <div id="brands"></div>
    <!-- Brands -->
    <div class="section-container w3-white">
        <div class="w3-white w3-center section-heading w3-padding-32">
            <h4 class="w3-text-black w3-margin-0">BRANDS WE USE</h4>
        </div>
        <div class="w3-row w3-center">
            <div class="w3-col l2 m6 s6 w3-padding-medium">
                <img class="w3-image" src="images/brands/bosch-logo.png" alt="Bosch Logo">
            </div>
            <div class="w3-col l2 m6 s6 w3-padding-large">
                <img class="w3-image" src="images/brands/knauf-logo.png" alt="Bosch Logo">
            </div>
            <div class="w3-col l2 m6 s6 w3-padding-large">
                <img class="w3-image" src="images/brands/sika-logo.png" alt="Bosch Logo">
            </div>
            <div class="w3-col l2 m6 s6 w3-padding-medium">
                <img class="w3-image" src="images/brands/amf.png" alt="Bosch Logo">
            </div>
            <div class="w3-col l2 m6 s6 w3-padding-medium">
                <img class="w3-image" src="images/brands/usg.svg" alt="Bosch Logo">
            </div>
            <div class="w3-col l2 m6 s6 w3-padding-medium">
                <img class="w3-image" src="images/brands/graham-brown.png" alt="Bosch Logo">
            </div>
        </div>
    </div>
    <!-- Brands -->

    <%- include("partials/footer") -%>