<%- include("partials/header") -%>

<div class="desc-container">
    <div class="w3-row">
        <div class="w3-col l10 w3-padding-medium">
            <div class="banner walls-page-banner-image w3-card w3-round">
                <div class="banner-text w3-round">
                    <h1 class="w3-margin-0">WALL DECOR</h1>
                    <p class="w3-margin-0">From Graffiato (Rustic Decor) to Dry Wall Partition. You are covered.</p>
                </div>
            </div>
        </div>
        <!-- <div class="w3-col l2 w3-padding-medium w3-hide-small">
            <h6>CATEGORIES</h6>
            <div class="vertical-menu">
                <a href="#">Graffiato (Rustic Decor)</a>
                <a href="#">Marblelite Plaster</a>
                <a href="#">Andre (Wall Skimming)</a>
                <a href="#">Textured Paint</a>
            </div>
        </div> -->
    </div>
</div>
<%- include("partials/footer") -%>

