<!-- Footer -->
<div class="section-container w3-white">
    <div id="more"></div>
    <div class="w3-row">
        <div class="w3-col l8">
            <div class="w3-row w3-text-jet-black">
                <div class="w3-col l3 m6 s6">
                    <ul class="w3-ul">
                        <li>
                            <a href="/ceiling">
                                <h6 class="w3-text-jet-black">CEILING</h6>
                            </a>
                        </li>
                        <li><a href="/ceiling#pop">Pop Ceiling</a></li>
                        <li><a href="/ceiling#plasterboard">Plasterboard Ceiling</a></li>
                        <li><a href="/ceiling#acoustic">Acoustic Ceiling</a></li>
                        <li><a href="javascript:void(0)">Metal Ceiling</a> </li>
                       
                    </ul>
                </div>
                <div class="w3-col l3 m6 s6">
                    <ul class="w3-ul">
                        <li>
                            <a href="/flooring">
                                <h6 class="w3-text-jet-black">FLOORING</h6>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)">Laminate Flooring</a> </li>
                        <li><a href="/flooring#spc">SPC Flooring</a> </li>
                        <li><a href="javascript:void(0)">Tiles</a> </li>
                        <li><a href="javascript:void(0)">Raised Flooring</a></li>
                        <li><a href="javascript:void(0)">Stamped Concrete</a></li>
                        <li><a href="javascript:void(0)">Epoxy Flooring</a></li>
                    </ul>
                </div>
                <div class="w3-col l3 m6 s6">
                    <ul class="w3-ul">
                        <li>
                            <a href="/wall-decor">
                                <h6 class="w3-text-jet-black">WALL DECOR</h6>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)">Graffiato (Rustic Decor)</a> </li>
                        <li><a href="javascript:void(0)">Marblelite Plaster</a> </li>
                        <li><a href="javascript:void(0)">Andre (Wall Skimming)</a> </li>
                        <li><a href="javascript:void(0)">Textured Paint</a> </li>
                        <li><a href="javascript:void(0)">Painting</a> </li>
                        <li><a href="javascript:void(0)">Tiling</a> </li>
                        <li><a href="javascript:void(0)">Dry Wall Partition</a></li>
                    </ul>
                </div>
                <div class="w3-col l3 m6 s6">
                    <ul class="w3-ul">
                        <li>
                            <h6 class="w3-text-jet-black">OTHERS</h6>
                        </li>
                        <li><a href="/architectural-drawing">Architectural Drawings</a> </li>
                        <li><a href="javascript:void(0)">Cabinets</a> </li>
                        <li><a href="javascript:void(0)">Doors </a> </li>
                        <li><a href="javascript:void(0)">Glazing</a> </li>
                        <li><a href="javascript:void(0)">Pergola</a> </li>
                        <li><a href="javascript:void(0)">TV Units</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="contact"></div>
        <div class="w3-col l4 w3-padding-medium w3-center">
                <img id="footer-image" class="w3-image" src="images/logos/alt-logo.png" alt="">
                <!-- <br><br> -->
                <!-- <p class="w3-margin-0"> P.O.Box KN 951,
                    Kaneshie</p>
                <p class="w3-margin-0">33 Nsawam Road, Accra, GH</p> -->
                <!-- <p><i class="fas fa-mobile "></i>&nbsp; +233 20 793 6666</p>
                <a href="mailto:cafarchitectureinc@gmail.com">
                    <button class="w3-button w3-yellow w3-round w3-hover-white zoom"> Send an email &nbsp; <i
                            class="fas fa-at  "></i></button>
                </a> -->
        </div>
    </div>
</div>
<div class="footernav">
    <a class="w3-hide-small" href="#"><span class="w3-hover-none">SPEED & ACCURACY.</span></a>
    <div class="items-right">
        <a href="https://www.instagram.com/cafarchitecture/"><i class="fab fa-instagram "></i></a>
        <a href="https://web.facebook.com/cafarchitecture"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/cafarchitecture"><i class="fab fa-twitter"></i></a>
    </div>
</div>
<div class="footer-container w3-jet-black">
    <div class="w3-row">
        <div class="w3-col l2 w3-padding-small w3-center">
            <img class="w3-image" src="images/logos/cafarchitecture-logo01.png" alt="Site Logo">
            <span class="w3-text-grey" id="year"></span></p>
        </div>
        <div class="w3-col l10 w3-padding-16 w3-text-grey">
            <p class="w3-margin-0">CAF Architecture &reg; has been in business for a number of years, perfecting
                our craft for well over a
                decade. Our relentless drive to satisfy our customers, has yielded a high number of clients. As well
                as, high customer retention due to the constant exceeding of expectations. We are situated in the
                Greater Accra region of Ghana. However, we render services across the entire city as well as
                neighbouring cities. We remain committed to improving the construction sector in Ghana and endeavour
                to work closely with other businesses in doing so. 
            <!-- <span><a href="/about">About</a></span>&nbsp; &vert; &nbsp;<span>Blog</span>&nbsp; &vert; &nbsp;<span>&#9993;</span> -->
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>